.canvas {
  block-size: 100%;
  inline-size: 100%;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.container {
  aspect-ratio: 1/1;
  isolation: isolate;
  position: relative;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  &.is-fit-contain {
    inset: var(--thickness);
  }

  &.is-fit-cover {
    inset: 0;
  }

  &.is-layer-background {
    z-index: -1;
  }

  &.is-layer-foreground {
    z-index: 1;
  }
}
